game.dtd

<?xml version="1.0" encoding="iso-8859-1"?>

<!ELEMENT game (gamer)*>

<!ELEMENT gamer (name, play, performance)>

<!ATTLIST gamer id ID #REQUIRED>
<!ELEMENT name (#PCDATA)>

<!ELEMENT play (level, points)>
<!ELEMENT level (#PCDATA)>
<!ELEMENT points (#PCDATA)>

<!ELEMENT performance (win, loss, bestpoints)>
<!ELEMENT win (#PCDATA)>
<!ELEMENT loss (#PCDATA)>
<!ELEMENT bestpoints (#PCDATA)>
